[alias]
	st = status
	co = checkout
	br = branch
	lg = log --oneline --graph
[core]
	excludesfile = $HOME/.gitignore_global
	editor = vim
	sshCommand = ssh -i ~/.ssh/github -F /dev/null
[pull]
	rebase = true
